<?xml version="1.0"?>

<configuration>
  <configSections>
  <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="App_Data\application.log"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>
      </layout>
    </appender>
    <root>
      <level value="All" />
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="DSAPIServiceSoap" maxReceivedMessageSize="134217728">
          <security mode="Transport" />
        </binding>
        <binding name="DSAPIServiceSoap1" maxReceivedMessageSize="134217728" />
        <binding name="DSAPIServiceSoap2" maxReceivedMessageSize="134217728">
          <security mode="Transport" />
        </binding>
        <binding name="DSAPIServiceSoap3" />
        <binding name="APIServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="APIServiceSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://demo.docusign.net/api/3.0/api.asmx"
        binding="basicHttpBinding" bindingConfiguration="APIServiceSoap"
        contract="ServiceReference2.APIServiceSoap" name="APIServiceSoap" />
      <endpoint address="https://demo.docusign.net/api/3.0/dsapi.asmx"
        binding="basicHttpBinding" bindingConfiguration="DSAPIServiceSoap2"
        contract="ServiceReference1.DSAPIServiceSoap" name="DSAPIServiceSoap" />
    </client>
  </system.serviceModel>
  <appSettings>
    <!-- DocuSign Account Numbers -->
    <!-- The account number from which envelopes are being created -->
    <add key="API.AccountID" value="d4af19ac-22ac-4018-a2db-062d361fd569"/>
    <add key="API.Password" value="docusign4"/>
    <add key="API.IntegratorKey" value="FINA-311bdb00-ad59-4750-924d-ee720aeaa43e"/>
    <add key="API.Email" value="magicparadigm@outlook.com"/>
    <add key="LogfilePath" value="application.log"/>


    <add key="JointSigner" value="@"/>

    <!-- Settings for the Splash page displayed on IPad -->
    <add key="RecipientTokenClientURLsPrefix" value="http://www.google.com/"/>

  </appSettings>

</configuration>
